# Dependencies
node_modules/

# Build output
dist/

# Environment files
backend/.venv

# Editor directories
.idea/
.vscode/
*.swp
*.swo
.claude

# MacOS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
specs.md
specs.pdf
