/* ============================================
   Pane Layout
   ============================================ */

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
