/* ============================================
   Pane Layout
   ============================================ */

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.panel-group--portrait {
  height: 100%;
}

.panel-group--portrait .panel {
  height: 100%;
  position: relative;
}

